[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21.0"
pandas = "*"
openpyxl = "*"
XlsxWriter = "*"
lxml = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
